
*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  font-family: Arial, sans-serif

}
body{
    text-decoration: none;
}
:root {
    --main-color: #fcb700;
    --back-color: #ffffff;
    --parag-color: #2a2a2a;
    --dark-red: #d01418;
    --border-color: #6666662a;
    --name-item: #0066c0;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(184deg, var(--main-color) 10%, var(--back-color) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .container .gotohom{
    display: flex;
    align-items: center;
    position: absolute;
    top: 6%;
    left:4%;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
.container .gotohom:hover{
    color: var(--back-color);
} */

.container .login-container{
        /* center it */
        height: 64vh;
        width: 27%;
        background-color: #ffffffbc;
        padding: 20px;
        border-radius: 20px;
        position: relative;
}
.container .login-container h2{
    color: var(--main-color);
    text-align: center;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:600;
}

.container .login-container form {
    margin-top: 6%;
}
.container .login-container form label{
    width: 90%;
    color: var(--parag-color);
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder
}

.container .login-container form input{
    text-transform: lowercase;
    border: none;
    width: 100%;
    padding: 10px 15px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    color: var(--parag-color);
    font-size: 16px;
    background: transparent;
    transition: 0.1s ease;
}


.container .login-container form input:focus{
    border: none;
    outline: none;
    border: 2px solid var(--main-color);
}
.container .login-container form .error{
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.container .login-container form .remamber{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container .login-container form .remamber input{
    padding: 0;
    padding: 0;
    width: 36px;
    height: 18px;
}
.container .login-container form .remamber label{
  margin: 0;  
  font-weight: 400;
}
.container .login-container form .rem_forget{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}


.container .login-container form  button{
    width: 100%;
    margin-top: 30px;
    border: none;
    outline: none;
    text-align: center;
    background-color: var(--main-color);
    padding: 12px 20px ;
    font-size: 20px;
    color: var(--back-color);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}
.container .login-container form  button:hover{
    background-color: #9a781b;
}

.container .login-container form  .haveacc{
    margin-top: 15px;
    text-align: center;
    font-weight: 500;
}
.container .login-container form  .haveacc a{
    color: var(--name-item);
    text-decoration: underline;
    font-weight: 600;
}