*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  font-family:Arial, Helvetica, sans-serif;

}
body{
    text-decoration: none;
}
:root {
    --main-color: #fcb700;
    --back-color: #ffffff;
    --parag-color: #2a2a2a;
    --dark-red: #d01418;
    --border-color: #6666662a;
    --name-item: #0066c0;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(184deg, var(--main-color) 10%, var(--back-color) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .container .gotohom{
    display: flex;
    align-items: center;
    position: absolute;
    top: 6%;
    left:4%;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
.container .gotohom:hover{
    color: var(--back-color);
} */
.signupdiv{
    /* center it */
    height: 85vh;
    width: 40%;
    background-color: #ffffffbc;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.signupdiv .signup-container h1{
    color: var(--main-color);
    text-align: center;
    font-size: 30px;
}
/* .signupdiv .signup-container form{
    background-color: #d01418;
} */
.signupdiv .signup-container form label{
    width: 90%;
    color: var(--parag-color);
    display: inline-block;
    font-weight: 600;
    margin: 12px 0px 6px 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    
}
.signupdiv .signup-container form input{
    text-transform: lowercase;
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 15px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    color: var(--parag-color);
    font-size: 16px;
    background: transparent;
    transition: 0.1s ease;
}
.signupdiv .signup-container form input:focus{
    border: none;
    outline: none;
    border: 2px solid var(--main-color);
}

.signupdiv .signup-container form .signup_btn{
    border: none;
    outline: none;
    text-align: center;
    margin: 20px 45px;
    background-color: var(--main-color);
    width: 80%;
    padding: 12px 20px ;
    font-size: 20px;
    color: var(--back-color);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

.signupdiv .signup-container form  .signin-link{
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-top: -10px;
    
}
.signupdiv .signup-container form  .signin-link a{
    color: var(--name-item);
    text-decoration: underline;
    font-weight: 600;
}

.error{
    color: var(--dark-red);
    font-size: 14px;
    margin-top: 10px;
}
.firs_last_name{
    display: flex;
    gap: 20px;
}

.city_postal{
    display: flex;
    gap: 20px;
}
.vpass{
    display: flex;
    gap: 20px;
}
